<header>
    <nav>
        <a href="/dashboard">Home</a>
        <a>Profile</a>
        <a href="/signout">Logout</a>
        <a href="/workouts/workoutsPage">Workouts</a>
    </nav>
</header>


<nav>
    <a href="/friends/friends">Friends</a>
    <a href="/friends/inbox">Inbox</a>
</nav>

<div>{{error}}</div>

{{#if empty}}
<div>
    <h3>No Friends Found</h3>
</div>
{{else}}
    {{#if friendsArr}}
        <ul>
            {{#each friendsArr}}
                <li>
                    <a href="/search-user/{{this}}" data-id="{{this}}">{{this}}</a>
                </li>
            {{/each}}
        </ul>
    {{else}}
    <div>
        <h3>No Friends Found</h3>
    </div>
    {{/if}}
{{/if}}
