<header>
    <nav>
        <a href="/friends/friends">Back</a>
    </nav>
</header>

<div>{{error}}</div>

{{#if empty}}
<div>
    <h3>Inbox Empty</h3>
</div>
{{else}}
{{#if inboxArr}}
<ul>
    {{#each inboxArr}}
    <li>
        <a href="/search-user/{{this}}" data-id="{{this}}">{{this}}</a>
    </li>
    {{/each}}
</ul>
{{else}}
<div>
    <h3>Inbox Empty</h3>
</div>
{{/if}}
{{/if}}