<header>
  <nav>
    {{!-- {{#if loggedIn}} --}}
    <a href="/workouts/workoutsPage">Back</a>
    <a href="/workouts/userWorkouts">View Your Workouts</a>
    <a href="/workouts/createWorkout">Create A Workout</a>
    {{!-- <a href="/workouts/removeWorkout">Remove A Workout</a> --}}
    {{!-- {{else}} --}}
    {{!-- <p>not logged?</p> --}}
    {{!-- {{/if}} --}}
  </nav>

</header>
<div id="all-workouts">
  <h1 id="all-workouts-title">Your Workouts</h1>
  {{#each workouts}}
  <div id="each-workout">
    <h2>{{foundWorkout.workoutName}}</h2>
    <h3>Type: {{foundWorkout.workoutType}}</h3>
    {{#each foundWorkout.exercises}}
    <p>Exercise Name: {{this.name}}</p>
    <p>Sets: {{this.sets}}</p>
    <p>Reps: {{this.reps}}</p>
    <p>Weight: {{this.weight}}</p>
    <p>Difficulty Rating: {{this.rating}}</p>
    <br>
    {{/each}}
    {{!-- <h3>Difficulty: {{foundWorkout.rating}}</h2> --}}
      <a href="/comments/{{foundWorkout._id}}">View Comments</a>
      <button class="workoutRemove" data-id={{foundWorkout._id}}>Remove this workout</button>
  </div>
  {{/each}}
</div>
<script src="/public/js/workout.js"></script>