<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            {{#if loggedIn}}
                <a href="/workouts/public">View All Workouts</a>
                <a href="/workouts/userWorkouts">View Your Workouts</a>
                <a href="/workouts/createWorkout">Create A Workout</a>
            {{else}}
                <a href="/">Home</a>
                <a href="/login" id="login-button">Login</a>
                <a href="/sign-up" id="sign-up-button">Sign Up</a>
                <p>Not logged in?</p>
            {{/if}}
        </nav>
    </header>

    <ul>
        {{#each comments}}
            <li>
                {{this.text}} - {{this.date}} - {{this.userId}}
                <button 
                    data-workoutid="{{this.workoutId}}" 
                    data-id="likebutton-{{this.commentId}}" 
                    class="likebutton"
                >
                    Like ({{this.likes}})
                </button>

                <button 
                    data-workoutid="{{this.workoutId}}" 
                    data-id="dislikebutton-{{this.commentId}}" 
                    class="dislikebutton"
                >
                    Dislike ({{this.dislikes}})
                </button>
            </li>
        {{/each}}
    </ul>

    <form action="/comments/{{id}}" method="POST">
        <label for="comment">Add a comment</label>
        <input type="text" name="comment" id="comment">
        <button type="submit">Submit comment</button>
    </form>

    <script src="/public/js/comments.js"></script>
</body>
</html>
