<header>
  <nav>
    {{!-- {{#if loggedIn}} --}}
    <a href="/workouts/workoutsPage">Back</a>
    <a href="/workouts/userWorkouts">View Your Workouts</a>
    <a href="/workouts/createWorkout">Create A Workout</a>
      <a href="/workouts/favorited">
        View Your Favorited Workouts
      </a>
    {{!-- <a href="/workouts/removeWorkout">Remove A Workout</a> --}}
    {{!-- {{else}} --}}
    {{!-- <p>not logged?</p> --}}
    {{!-- {{/if}} --}}
  </nav>

</header>

<div id="insights">
  <h1>Workout Insights</h1>
  
  {{#if noWorkouts}}
    <div>
      <p>Create workouts to see your insights!</p>
      <a href="/workouts/createWorkout">Create Your First Workout</a>
    </div>
  {{else}}
    <div>
      <h2>Current Maxes</h2>
      <div>
        <p>Bench Press:</p>
        <p>{{currentMaxes.bench}}</p>
      </div>
      <div>
        <p>Squat:</p>
        <p>{{currentMaxes.squat}}</p>
      </div>
      <div>
        <p>Deadlift:</p>
        <p>{{currentMaxes.deadlift}}</p>
      </div>
    </div>

    <div>
      <h2>Projected Maxes</h2>
      <div>
        <p>Projected Bench:</p>
        <p class="value">{{projections.projBenchMax}}</p>
        <p class="differential{{#if (gt differentials.bench 0)}}[+]{{else}}[-]{{/if}}"> 
          {{#if (gt differentials.bench 0)}}+{{/if}}{{differentials.bench}}
        </p>
      </div>
      <div>
        <p>Projected Squat:</p>
        <p class="value">{{projections.projSquatMax}}</p>
        <p class="differential {{#if (gt differentials.squat 0)}}positive{{else}}negative{{/if}}">
          {{#if (gt differentials.squat 0)}}+{{/if}}{{differentials.squat}}
        </p>
      </div>
      <div>
        <p>Projected Deadlift:</p>
        <p class="value">{{projections.projDeadliftMax}}</p>
        <p class="differential {{#if (gt differentials.deadlift 0)}}positive{{else}}negative{{/if}}">
          {{#if (gt differentials.deadlift 0)}}+{{/if}}{{differentials.deadlift}}
        </p>
      </div>

      <div>
        <p>Differentials:</p>
        <p>{{projections.projBenchMax}}</p>
      </div>
    </div>
  {{/if}}
  
  <a href="/workouts/workoutsPage">Back to Workouts</a>
</div>