<header>
  <nav>
    <a href="/workouts/workoutsPage">Back</a>
    <a href="/workouts/public">View Other Users Workouts</a>
    <a href="/workouts/createWorkout">Create A Workout</a>
    <a href="/workouts/favorited">
                View Your Favorited Workouts
            </a>
  </nav>
</header>

<div id="all-workouts">
  <h1 id="all-workouts-title">Your Workouts</h1>
  {{#each workouts}}
  <div class="each-workout">
    <a href="/search-workout/{{foundWorkout._id}}" style="text-decoration: none; color: inherit;">
      <h2>{{foundWorkout.workoutName}}</h2>
      <h3>Type: {{foundWorkout.workoutType}}</h3>
      <h3>Difficulty Rating: {{foundWorkout.rating}}</h3>
      {{#each foundWorkout.exercises}}
      <p>Exercise Name: {{this.name}}</p>
      <p>Sets: {{this.sets}}</p>
      <p>Reps: {{this.reps}}</p>
      <p>Weight: {{this.weight}}</p>
      <br>
      {{/each}}
    </a>
    <div>
      <a href="/comments/{{foundWorkout._id}}">View Comments</a>
      <button class="workoutClone" data-id="{{foundWorkout._id}}">Copy this workout</button>
      <button class="workoutRemove" data-id="{{foundWorkout._id}}">Remove this workout</button>
    </div>
  </div>
  {{/each}}
</div>
<script src="/public/js/workout.js"></script>
