<header>
  <nav>
    <a href="/workouts/workoutsPage">Back</a>
    <a href="/workouts/userWorkouts">View Your Workouts</a>
    <a href="/workouts/createWorkout">Create A Workout</a>
  </nav>
</header>

<div id="all-workouts">
  <h1 id="all-workouts-title">Your Workouts</h1>

  {{#each workouts}}
    <div id="each-workout">
      <a href="/search-workout/{{_id}}" style="text-decoration: none; color: inherit;">
        <h2>{{workoutName}}</h2>
        <h3>Type: {{workoutType}}</h3>

        {{#each exercises}}
          <p>Exercise Name: {{this.name}}</p>
          <p>Sets: {{this.sets}}</p>
          <p>Reps: {{this.reps}}</p>
          <p>Weight: {{this.weight}}</p>
          <p>Difficulty Rating: {{this.rating}}</p>
          <br>
        {{/each}}
      </a>

      <div>
        <a href="/comments/{{_id}}">View Comments</a>
        <button class="workoutClone" data-id="{{_id}}">Copy this workout</button>
      </div>
    </div>
  {{/each}}
</div>

<script src="/public/js/workout.js"></script>
